virt/
.vscode/
*.pyc
**/__pycache__
**/__pycache__/*.pyc
db.sqlite3
sketches.py
results/
input/queries/
input/sequences/
*.pyc
**/__pycache__
**/__pycache__/*.pyc
.python-version
smithy/assembly/migrations/
smithy/media/
tests.py
multi.fasta
smithy/smithy/settings.py.orig
smithy/smithy_uwsgi.ini
smithy/test.py
uwsgi_params
venv_smithy/
smithy/smithy.sock
*.ndb
*.nhr
*.nin
*.njs
*.nog
*.nos
*.not
*.nsq
*.ntf
*.nto