virt/
.vscode/
*.pyc
**/__pycache__
**/__pycache__/*.pyc
db.sqlite3
sketches.py
results/
input/queries/
input/sequences/
*.pyc
**/__pycache__
**/__pycache__/*.pyc
.python-version
smithy/assembly/migrations/
smithy/media/
tests.py