{% extends 'proj_site/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ assembly_bundle.title }} <span class="badge rounded-pill bg-secondary">Bundle</span></h1>
    <p>
        <strong class="text-muted">
            {{ assembly_bundle.date_created }}
        </strong>
    </p> 
    <p>{{ assembly_bundle.description}}</p>
      
    <hr/>

    <div class="row mb-4">
        {% if gibson %}
            <div class="col" id="gibson-dashboard">
                <h3>Gibson <br><a class="btn btn-outline-primary btn-sm" href="{% url 'gibson-detail' gibson.pk %}"><i class="bi bi-eye"></i> View Assembly</a></h3>

                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="gibson-time"></canvas>    
                    </div>
                    <div class="time-sum text-center" id="gibson-time-sum"></div>
                </div>
                
                <div class="row mb-4">
                    <canvas id="gibson-cost"></canvas>
                </div>
    
                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="gibson-risk"></canvas>
                    </div>
                </div>
                
                <hr/>
                
                {% for gibson_solution in gibson_solutions %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ gibson_solution.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A Gibson solution</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-primary">
                                    {{ gibson_solution.parts_count }} Parts
                                </span>
                                <span class="badge rounded-pill bg-primary">
                                    {{ gibson_solution.primers_count }} Primers
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ gibson_solution.db_parts }} BLAST Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ gibson_solution.synth_parts }} Synthetic Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ gibson_solution.longest_part }}nt Longest Part
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ gibson_solution.shortest_part }}nt Shortest Part
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ gibson_solution.tm_average }}C Average Primer Tm
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ gibson_solution.primer_length_average }}nt Average Primer
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ gibson_solution.match|floatformat:2 }}% BLAST nt
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ gibson_solution.synth_amount|floatformat:2 }}% Synthetic nt
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'gibson-solution-detail' gibson_solution.pk %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i> View Solution</a>
                        </div>
                    </div>
                    {{ gibson_solution.time_summary|json_script:"gibson_times" }}
                    {{ gibson_solution.cost_summary|json_script:"gibson_costs" }}
                    {{ gibson_solution.risk_summary|json_script:"gibson_risks" }}
                {% endfor %}
            </div>
        {% endif %}

        {% if goldengate %}
            <div class="col" id="goldengate-dashboard">
                <h3>Golden Gate <br><a class="btn btn-outline-primary btn-sm" href="{% url 'goldengate-detail' goldengate.pk %}"><i class="bi bi-eye"></i> View Assembly</a></h3>

                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="goldengate-time"></canvas>    
                    </div>
                    <div class="time-sum text-center" id="goldengate-time-sum"></div>
                </div>
                
                <div class="row mb-4">
                    <canvas id="goldengate-cost"></canvas>
                </div>
                
                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="goldengate-risk"></canvas>
                    </div>
                </div>

                <hr/>

                {% for goldengate_solution in goldengate_solutions %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ goldengate_solution.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A Golden Gate solution</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-primary">
                                    {{ goldengate_solution.parts_count }} Parts
                                </span>
                                <span class="badge rounded-pill bg-primary">
                                    {{ goldengate_solution.primers_count }} Primers
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ goldengate_solution.db_parts }} BLAST Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ goldengate_solution.synth_parts }} Synthetic Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ goldengate_solution.longest_part }}nt Longest Part
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ goldengate_solution.shortest_part }}nt Shortest Part
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ goldengate_solution.tm_average }}C Average Primer Tm
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ goldengate_solution.primer_length_average }}nt Average Primer
                                </span>
                                {% if goldengate_solution.re_enzymes %}
                                    <span class="badge rounded-pill bg-warning text-dark">Restriction Enzymes</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ goldengate_solution.match|floatformat:2 }}% BLAST nt
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ goldengate_solution.synth_amount|floatformat:2 }}% Synthetic nt
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'goldengate-solution-detail' goldengate_solution.pk %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i> View Solution</a>
                        </div>
                    </div>
                    {{ goldengate_solution.time_summary|json_script:"goldengate_times" }}
                    {{ goldengate_solution.cost_summary|json_script:"goldengate_costs" }}
                    {{ goldengate_solution.risk_summary|json_script:"goldengate_risks" }}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if slic %}
            <div class="col" id="slic-dashboard">
                <h3>SLIC <br><a class="btn btn-outline-primary btn-sm" href="{% url 'slic-detail' slic.pk %}"><i class="bi bi-eye"></i> View Assembly</a></h3>

                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="slic-time"></canvas>    
                    </div>
                    <div class="time-sum text-center" id="slic-time-sum"></div>
                </div>
                
                <div class="row mb-4">
                    <canvas id="slic-cost"></canvas>
                </div>
                
                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="slic-risk"></canvas>
                    </div>
                </div>

                <hr/>

                {% for slic_solution in slic_solutions %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ slic_solution.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A SLIC solution</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-primary">
                                    {{ slic_solution.parts_count }} Parts
                                </span>
                                <span class="badge rounded-pill bg-primary">
                                    {{ slic_solution.primers_count }} Primers
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ slic_solution.db_parts }} BLAST Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ slic_solution.synth_parts }} Synthetic Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ slic_solution.longest_part }}nt Longest Part
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ slic_solution.shortest_part }}nt Shortest Part
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ slic_solution.tm_average }}C Average Primer Tm
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ slic_solution.primer_length_average }}nt Average Primer
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ slic_solution.match|floatformat:2 }}% BLAST nt
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ slic_solution.synth_amount|floatformat:2 }}% Synthetic nt
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'slic-solution-detail' slic_solution.pk %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i> View Solution</a>
                        </div>
                    </div>
                    {{ slic_solution.time_summary|json_script:"slic_times" }}
                    {{ slic_solution.cost_summary|json_script:"slic_costs" }}
                    {{ slic_solution.risk_summary|json_script:"slic_risks" }}
                {% endfor %}
            </div>
        {% endif %}

        {% if pcr %}
            <div class="col" id="pcr-dashboard">
                <h3>PCR <br><a class="btn btn-outline-primary btn-sm" href="{% url 'pcr-detail' pcr.pk %}"><i class="bi bi-eye"></i> View Assembly</a></h3>

                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="pcr-time"></canvas>    
                    </div>
                    <div class="time-sum text-center" id="pcr-time-sum"></div>
                </div>

                <div class="row mb-4">
                    <canvas id="pcr-cost"></canvas>
                </div>
                
                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="pcr-risk"></canvas>
                    </div>
                </div>

                <hr/>

                {% for pcr_solution in pcr_solutions %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ pcr_solution.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A PCR solution</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-primary">
                                    {{ pcr_solution.parts_count }} Parts
                                </span>
                                <span class="badge rounded-pill bg-primary">
                                    {{ pcr_solution.primers_count }} Primers
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ pcr_solution.db_parts }} BLAST Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ pcr_solution.synth_parts }} Synthetic Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ pcr_solution.longest_part }}nt Longest Part
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ pcr_solution.shortest_part }}nt Shortest Part
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ pcr_solution.tm_average }}C Average Primer Tm
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ pcr_solution.primer_length_average }}nt Average Primer
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ pcr_solution.match|floatformat:2 }}% BLAST nt
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ pcr_solution.synth_amount|floatformat:2 }}% Synthetic nt
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'pcr-solution-detail' pcr_solution.pk %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i> View Solution</a>
                        </div>
                    </div>
                    {{ pcr_solution.time_summary|json_script:"pcr_times" }}
                    {{ pcr_solution.cost_summary|json_script:"pcr_costs" }}
                    {{ pcr_solution.risk_summary|json_script:"pcr_risks" }}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if biobrick %}
            <div class="col" id="biobricks-dashboard">
                <h3>BioBricks <br><a class="btn btn-outline-primary btn-sm" href="{% url 'biobricks-detail' biobrick.pk %}"><i class="bi bi-eye"></i> View Assembly</a></h3>
            
                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="biobricks-time"></canvas>    
                    </div>
                    <div class="time-sum text-center" id="biobricks-time-sum"></div>
                </div>

                <div class="row mb-4">
                    <canvas id="biobricks-cost"></canvas>
                </div>
                
                <div class="row mb-4">
                    <div class="chart-container">
                        <canvas id="biobricks-risk"></canvas>
                    </div>
                </div>

                <hr/>

                {% for biobricks_solution in biobrick_solutions %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ biobricks_solution.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A BioBricks solution</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-primary">
                                    {{ biobricks_solution.parts_count }} Parts
                                </span>
                                <span class="badge rounded-pill bg-primary">
                                    {{ biobricks_solution.primers_count }} Primers
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ biobricks_solution.db_parts }} BLAST Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ biobricks_solution.synth_parts }} Synthetic Parts
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ biobricks_solution.longest_part }}nt Longest Part
                                </span>
                                <span class="badge rounded-pill bg-info text-dark">
                                    {{ biobricks_solution.shortest_part }}nt Shortest Part
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ biobricks_solution.tm_average }}C Average Primer Tm
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ biobricks_solution.primer_length_average }}nt Average Primer
                                </span>
                                {% if biobricks_solution.re_enzymes %}
                                    <span class="badge rounded-pill bg-warning text-dark">Restriction Enzymes</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <span class="badge rounded-pill bg-secondary">
                                    {{ biobricks_solution.match|floatformat:2 }}% BLAST nt
                                </span>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ biobricks_solution.synth_amount|floatformat:2 }}% Synthetic nt
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'biobricks-solution-detail' biobricks_solution.pk %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-eye"></i> View Solution</a>
                        </div>
                    </div>
                    {{ biobricks_solution.time_summary|json_script:"biobricks_times" }}
                    {{ biobricks_solution.cost_summary|json_script:"biobricks_costs" }}
                    {{ biobricks_solution.risk_summary|json_script:"biobricks_risks" }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script src="{% static 'proj_site/chart_config.js' %}"></script>
    <script src="{% static 'proj_site/gibson_charts.js' %}"></script>
    <script src="{% static 'proj_site/goldengate_charts.js' %}"></script>
    <script src="{% static 'proj_site/pcr_charts.js' %}"></script>
    <script src="{% static 'proj_site/slic_charts.js' %}"></script>
    <script src="{% static 'proj_site/biobricks_charts.js' %}"></script>
    <script src="{% static 'proj_site/dashboard_charts.js' %}"></script>
    
{% endblock content %}