{% extends 'proj_site/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ title }} <span class="badge rounded-pill bg-secondary float-end">BioBricks</span></h1>
    <p>
        <strong class="text-muted">
            {{ biobrick.date_created|date:'F d, Y' }}
        </strong>
    </p>
    <p>
        This is an overview of your assembly. Under the <em>Solutions</em> section you will find solutions that Smithy has created for you. 
        Click on <em>View Solution</em> to see the parts (purchasable DNA sequences), primer designs for each part, and more that Smithy
        has created for that unique assembly solution. 
    </p>
    <p class="fw-lighter">The cost and time calculations exclude the cost and time of experimental steps that are common to all compared cloning methods.</p>

    <div class="row mb-4">
        <div class="col">
            <a href="{{ biobrick.backbone_file.url }}" class="btn btn-outline-primary">
                <i class="bi bi-download"></i> Download Backbone File
            </a>
            <a href="{{ biobrick.insert_file.url }}" class="btn btn-outline-primary">
                <i class="bi bi-download"></i> Download Insert File
            </a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>General Info</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Prefix Enzymes:</strong> EcoRI, XbaI</li>
                <li class="list-group-item"><strong>Suffix Enzymes:</strong> SpeI, PstI</li>
                <li class="list-group-item"><strong>Prefix Sequence:</strong> gaattcgcggccgcttctagag</li>
                <li class="list-group-item"><strong>CDS Prefix Sequence:</strong> gaattcgcggccgcttctag</li>
                <li class="list-group-item"><strong>Suffix Sequence:</strong> tactagtagcggccgctgcag</li>
                <li class="list-group-item"><strong>EcoRI cost:</strong> ${{ biobrick.EcoRI_cost }}</li>
                <li class="list-group-item"><strong>XbaI cost:</strong> ${{ biobrick.XbaI_cost }}</li>
                <li class="list-group-item"><strong>SpeI cost:</strong> ${{ biobrick.SpeI_cost }}</li>
                <li class="list-group-item"><strong>PstI cost:</strong> ${{ biobrick.PstI_cost }}</li>
            </ul>
        </div>
        <div class="col">
            <h2>BLAST Query</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    {% if biobrick.addgene %}
                        <span class="badge bg-info text-dark">AddGene</span>
                    {% endif %}
                    {% if biobrick.igem %}
                        <span class="badge bg-info text-dark">iGEM</span>
                    {% endif %}
                    {% if biobrick.dnasu %}
                        <span class="badge bg-info text-dark">DNASU</span>
                    {% endif %}
                </li>
                <li class="list-group-item"><strong>Min BLAST seq size:</strong> {{ biobrick.min_blast }}nt</li>
                <li class="list-group-item"><strong>Max BLAST seq size:</strong> {{ biobrick.max_blast }}nt</li>
                <li class="list-group-item"><strong>Min synthetic seq size:</strong> {{ biobrick.min_synth }}nt</li>
                <li class="list-group-item"><strong>Max synthetic seq size:</strong> {{ biobrick.max_synth }}nt</li>
            </ul>   
        </div>
        <div class="col">
            <h2>Experiment</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Monovalent ion concentration:</strong> {{ biobrick.mv_conc }}mM</li>
                <li class="list-group-item"><strong>Divalent ion concentration:</strong> {{ biobrick.dv_conc }}mM</li>
                <li class="list-group-item"><strong>dNTP concentration:</strong> {{ biobrick.dntp_conc }}mM</li>
                <li class="list-group-item"><strong>DNA concentration:</strong> {{ biobrick.dna_conc }}nM</li>
                <li class="list-group-item"><strong>Melting temperature:</strong> {{ biobrick.tm }}C</li>
            </ul>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>
                Solution(s)
            </h2>
            <div class="row">
                <div class="col">
                    <div class="chart-container" style="position: relative; height:75vh; width:30vw">
                        <canvas id="biobricks-time"></canvas>    
                    </div>
                    <div class="time-sum text-center" id="biobricks-time-sum"></div>
                </div>
                <div class="col">
                    <canvas id="biobricks-cost"></canvas>
                </div>
                <div class="col">
                    <div class="chart-container" style="position: relative; height:75vh; width:30vw">
                        <canvas id="biobricks-risk"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for solution in solutions %}
                        <div class="card mb-2">
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{solution.name}}
                                    <a href="{% url 'biobricks-solution-detail' solution.pk %}" class="btn btn-outline-primary float-end">
                                        <i class="bi bi-eye"></i> View Solution
                                    </a>
                                </h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{ solution.date_created }}</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="badge rounded-pill bg-primary">
                                            {{ solution.parts_count }} Parts
                                        </span>
                                        <span class="badge rounded-pill bg-primary">
                                            {{ solution.primers_count }} Primers
                                        </span>
                                        <span class="badge rounded-pill bg-primary">
                                            EcoRI - ${{ biobrick.EcoRI_cost }}
                                        </span>
                                        <span class="badge rounded-pill bg-primary">
                                            XbaI - ${{ biobrick.XbaI_cost }}
                                        </span>
                                        <span class="badge rounded-pill bg-primary">
                                            SpeI - ${{ biobrick.SpeI_cost }}
                                        </span>
                                        <span class="badge rounded-pill bg-primary">
                                            PstI - ${{ biobrick.PstI_cost }}
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.tm_average }}C Average Primer Tm
                                        </span>
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.primer_length_average }}nt Average Primer
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.match|floatformat:2 }}% BLAST nt
                                        </span>
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.synth_amount|floatformat:2 }}% Synthetic nt
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{ solution.time_summary|json_script:"times" }}
                        {{ solution.cost_summary|json_script:"costs" }}
                        {{ solution.risk_summary|json_script:"risks" }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'proj_site/chart_config.js' %}"></script>
    <script src="{% static 'proj_site/biobricks_charts.js' %}"></script>
    <script src="{% static 'proj_site/biobricks_detail.js' %}"></script>

{% endblock content %}