{% extends 'proj_site/base.html' %}
{% block content %}
    <h1 class="mb-3">{{ title }}</h1>
    <div class="row mb-4">
        <div class="col-md-3">
            <h2>Date Created</h2>
            <p>{{gibson_part.date_created}}</p>
        </div>
        <div class="col-md-3">
            <h2>Database</h2>
            <p>{{gibson_part.database}}</p>
        </div>
        <div class="col-md-3">
            <h2>Length</h2>
            <p>{{gibson_part.length}}</p>
        </div>
        <div class="col-md-3">
            <h2>Extended Length</h2>
            <p>{{gibson_part.length_extended}}</p> 
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>Part Map</h2>
            <div class="text-center">
                <img src="{{ gibson_part.part_map.url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>Sequence <span class="badge bg-light text-dark fs-6">5'-3'</span></h2>
            <p>{{gibson_part.seq}}</p>
            
            <h2>Extended Sequence <span class="badge bg-light text-dark fs-6">5'-3'</span></h2>
            <p>{{gibson_part.seq_extended}}</p>
        </div>
    </div>
{% endblock content %}