{% extends 'proj_site/base.html' %}
{% block content %}
    <h1>{{ title }} <span class="badge rounded-pill bg-secondary">Gibson</span></h1>
    <p>
        <strong class="text-muted">
            {{ gibson.date_created|date:'F d, Y' }}
        </strong>
    </p>
    <p>
        This is an overview of your assembly. Under the <em>Solutions</em> section you will find solutions that Smithy has created for you. 
        Click on <em>View Solution</em> to see the parts (purchasable DNA sequences), primer designs for each part, and more that Smithy
        has created for that unique assembly solution. 
    </p>
    <div class="row mb-4">
        <div class="col">
            <a href="{{ gibson.backbone_file.url }}" class="btn btn-outline-primary">
                <i class="bi bi-download"></i> Download Backbone File
            </a>
            <a href="{{ gibson.insert_file.url }}" class="btn btn-outline-primary">
                <i class="bi bi-download"></i> Download Insert File
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="row mb-4">
                <div class="col">
                    <h2>
                        Solutions
                    </h2>
                    {% for solution in solutions %}
                        <div class="card mb-2">
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{solution.name}}
                                    <a href="{% url 'gibson-solution-detail' solution.pk %}" class="btn btn-outline-primary float-end">
                                        <i class="bi bi-eye"></i> View Solution
                                    </a>
                                </h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{ solution.date_created }}</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="badge rounded-pill bg-primary">
                                            {{ solution.parts_count }} Parts
                                        </span>
                                        <span class="badge rounded-pill bg-primary">
                                            {{ solution.primers_count }} Primers
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.tm_average }}C Average Primer Tm
                                        </span>
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.primer_length_average }}nt Average Primer
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.match }}% BLAST nt
                                        </span>
                                        <span class="badge rounded-pill bg-secondary">
                                            {{ solution.synth_amount }}% Synthetic nt
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row mb-4">
                <div class="col">
                    <h2>General Info</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Exonuclease:</strong> T5</li>
                        <li class="list-group-item"><strong>Ligase:</strong> Taq</li>
                        <li class="list-group-item"><strong>Polymerase:</strong> Phusion</li>
                        <li class="list-group-item"><strong>Overlap:</strong> {{ gibson.overlap }}nt</li>
                    </ul>
                </div>
            </div>
        
            <div class="row mb-4">
                <div class="col">
                    <h2>BLAST Query</h2>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% if gibson.addgene %}
                                <span class="badge bg-info text-dark">AddGene</span>
                            {% endif %}
                            {% if gibson.igem %}
                                <span class="badge bg-info text-dark">iGEM</span>
                            {% endif %}
                            {% if gibson.dnasu %}
                                <span class="badge bg-info text-dark">DNASU</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item"><strong>Min BLAST seq size:</strong> {{ gibson.min_blast }}nt</li>
                        <li class="list-group-item"><strong>Max BLAST seq size:</strong> {{ gibson.max_blast }}nt</li>
                        <li class="list-group-item"><strong>Min synthetic seq size:</strong> {{ gibson.min_synth }}nt</li>
                        <li class="list-group-item"><strong>Max synthetic seq size:</strong> {{ gibson.max_synth }}nt</li>
                    </ul>    
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col">
                    <h2>Experiment</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Monovalent ion concentration:</strong> {{ gibson.mv_conc }}mM</li>
                        <li class="list-group-item"><strong>Divalent ion concentration:</strong> {{ gibson.dv_conc }}mM</li>
                        <li class="list-group-item"><strong>dNTP concentration:</strong> {{ gibson.dntp_conc }}mM</li>
                        <li class="list-group-item"><strong>DNA concentration:</strong> {{ gibson.dna_conc }}nM</li>
                        <li class="list-group-item"><strong>Melting temperature:</strong> {{ gibson.tm }}C</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}