{% extends 'proj_site/base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>
        Below is a listing of existing Gibson assemblies.
    </p>
    <div class="row mb-4">
        <div class="col">
            {% for gibson in gibsons %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="card-title"> 
                            {{ gibson.title }} 
                            <a href="{% url 'gibson-detail' gibson.pk %}" class="btn btn-outline-primary float-end"><i class="bi bi-eye"></i> View Assembly</a>
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted"> 
                            <small>{{ gibson.date_created }}</small> 
                        </h6>
                    </div>
                </div>
            {% empty %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="card-title"> 
                            Sorry, there are no Gibson assemblies.
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}