{% extends 'proj_site/base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="btn-group" role="group" aria-label="fwd-rvs-primers">
        <a class="btn btn-outline-primary" href="{% url 'goldengate-primer-detail' primers.0.pk %}">Forward Primer</a>
        <a class="btn btn-outline-primary" href="{% url 'goldengate-primer-detail' primers.1.pk %}">Reverse Primer</a>
    </div>

    <div class="row my-4">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"><strong>Date Created:</strong> {{goldengate_part.date_created}}</li>
                <li class="list-group-item"><strong>Database: </strong> {{goldengate_part.database}}</li>
                <li class="list-group-item"><strong>Extended Length:</strong> {{goldengate_part.length_extended}}</li>
                <li class="list-group-item"><strong>Length:</strong> {{goldengate_part.length}}</li>
            </ul>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>Part Map</h2>
            <div class="text-center">
                <img src="{{ goldengate_part.part_map.url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-dark btn-lg" data-bs-toggle="collapse" href="#extended-seq" role="button" aria-expanded="false" aria-controls="extended-seq">
                        View Extended Sequence
                    </a>
                    <a class="btn btn-outline-dark btn-lg" data-bs-toggle="collapse" href="#seq" role="button" aria-expanded="false" aria-controls="seq">
                        View Original Sequence
                    </a>
                </div>
            </p>
            <div class="collapse mb-2" id="extended-seq">
                <div class="card card-body">
                    <h2>
                        {{ goldengate_part.name }} Extended Sequence 
                        <span class="badge bg-light text-dark fs-6">5'-3'</span> 
                        <span class="badge bg-light text-dark fs-6">Watson</span>
                        <span class="badge bg-warning text-dark fs-6">{{ goldengate_part.cuts }} Cuts</span>
                    </h2>
                    <p><em>Cutsites shown in <span class="highlight">highlights</span>...</em></p>
                    <p id="seq_extended">{{goldengate_part.seq_extended}}</p>
                </div>
            </div>
            <div class="collapse" id="seq">
                <div class="card card-body">
                    <h2>{{ goldengate_part.name }} Original Sequence 
                        <span class="badge bg-light text-dark fs-6">5'-3'</span> 
                        <span class="badge bg-light text-dark fs-6">Watson</span>
                        <span class="badge bg-warning text-dark fs-6">
                            {% if goldengate_part.cuts < 3 %}
                                0 Cuts
                            {% elif goldengate_part.cuts == 3 %}
                                1 Cut
                            {% else %}
                                {{ goldengate_part.cuts|add:"-2" }} Cuts
                            {% endif %}
                        </span>
                    </h2>
                    <p><em>Cutsites shown in <span class="highlight">highlights</span>...</em></p>
                    <p id="seq_nonextended">{{goldengate_part.seq}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-dark btn-lg" data-bs-toggle="collapse" href="#forward" role="button" aria-expanded="false" aria-controls="forward">
                        View Forward Primer
                    </a>
                    <a class="btn btn-outline-dark btn-lg" data-bs-toggle="collapse" href="#reverse" role="button" aria-expanded="false" aria-controls="reverse">
                        View Reverse Primer
                    </a>
                </div>
            </p>
            <div class="collapse mb-2" id="forward">
                <div class="card card-body">
                    <h2>
                        {{ primers.0.name }} 
                        <span class="badge bg-light text-dark fs-6">5'-3'</span> 
                        <span class="badge bg-light text-dark fs-6">Watson</span>
                    </h2>
                    <p><strong>Sequence:</strong> {{ primers.0.sequence }}</p>
                    <p><strong>Footprint:</strong> {{ primers.0.footprint }}</p>
                    <p><strong>Tail:</strong> {{ primers.0.tail }}</p>
                </div>
            </div>
            <div class="collapse" id="reverse">
                <div class="card card-body">
                    <h2>{{ primers.1.name }} <span class="badge bg-light text-dark fs-6">5'-3'</span> <span class="badge bg-light text-dark fs-6">Crick</span></h2>
                    <p><strong>Sequence:</strong> {{ primers.1.sequence }}</p>
                    <p><strong>Footprint:</strong> {{ primers.1.footprint }}</p>
                    <p><strong>Tail:</strong> {{ primers.1.tail }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ goldengate_part.cut_locations|json_script:"cuts" }}
    <script>
        function highlighting(text_html, cutsites) {
            const segments = [];

            for (let i = 0; i < cutsites.length; i++) {
                cutsite = cutsites[i];

                if (i == 0) {
                    segments.push(text_html.substring(0, cutsite.start));
                }
                else {
                    segments.push(text_html.substring(cutsites[i - 1].end, cutsite.start));
                }
                highlighted = "<span class='highlight'>" + text_html.substring(cutsite.start, cutsite.end) + "</span>";
                segments.push(highlighted);
            }
            segments.push(text_html.substring(cutsites[cutsites.length - 1].end));
            return segments.join('');
        }

        const mydata = JSON.parse(JSON.parse(document.getElementById('cuts').textContent));
        const seq_elem = document.getElementById('seq_nonextended');
        const seq_html = seq_elem.innerHTML;
        const seq_ext_elem = document.getElementById('seq_extended');
        const seq_ext_html = seq_ext_elem.innerHTML;

        newHTML = highlighting(seq_ext_html, mydata.extended);
        seq_ext_elem.innerHTML = newHTML;

        newHTML = highlighting(seq_html, mydata.original);
        seq_elem.innerHTML = newHTML;
    </script>
{% endblock content %}