{% extends 'proj_site/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ title }} <span class="badge rounded-pill bg-secondary float-end">SLIC</span></h1>
    <p>
        <strong class="text-muted">
            {{ slic_solution.date_created }}
        </strong>
    </p>
    <div class="row mb-4">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge rounded-pill bg-primary">
                        {{ slic_solution.parts_count }} Parts
                    </span>
                    <span class="badge rounded-pill bg-primary">
                        {{ slic_solution.primers_count }} Primers
                    </span>
                    <span class="badge rounded-pill bg-primary">
                        Exonuclease - ${{ exonuclease_cost }}
                    </span>
                    <span class="badge rounded-pill bg-primary">
                        Ligase - ${{ ligase_cost }}
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.tm_average }}C Average Primer Tm
                    </span>
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.primer_length_average }}nt Average Primer
                    </span>
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.db_parts }} BLAST Parts
                    </span>
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.synth_parts }} Synthetic Parts
                    </span>
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.longest_part }}nt Longest Part
                    </span>
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.shortest_part }}nt Shortest Part
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.match|floatformat:2 }}% BLAST nt
                    </span>
                    <span class="badge rounded-pill bg-secondary">
                        {{ slic_solution.synth_amount|floatformat:2 }}% Synthetic nt
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <a href="{{ slic_solution.parts_file.url }}" class="btn btn-outline-primary"><i class="bi bi-download"></i> Download Parts</a>
            <a href="{{ slic_solution.primers_file.url }}" class="btn btn-outline-primary"><i class="bi bi-download"></i> Download Primers</a> 
            <a href="{{ slic_solution.order_file.url }}" class="btn btn-outline-primary"><i class="bi bi-download"></i> Download Order</a> 
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="chart-container" style="position: relative; height:50vh; width:30vw">
                <canvas id="slic-time"></canvas>    
            </div>
            <div class="time-sum text-center" id="slic-time-sum"></div>
        </div>
        <div class="col">
            <canvas id="slic-cost"></canvas>
        </div>
        <div class="col">
            <div class="chart-container" style="position: relative; height:50vh; width:30vw">
                <canvas id="slic-risk"></canvas>
            </div>
        </div>       
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2 class="mb-4">
                Parts
                <a href="{{ slic_solution.parts_file.url }}" class="btn btn-outline-primary float-end"><i class="bi bi-download"></i> Download Parts</a> 
            </h2>
            <p>
                Below is a summary table of the DNA sequences that make up this assembly solution. Further details on each part can be 
                viewed by clicking <em>View Part</em> for each listed below this table.  
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>
                        <u>Query Start/End:</u> The start/end index of the part on the insert sequence. Defaults to 0. <br>
                        <u>Subject Start/End:</u> The start/end index of the part on its original sequence. Defaults to 0. <br>
                        <u>Position:</u> The location of the part in the assembly solution.
                    </caption>
                    <thead>
                        <th>Name</th>
                        <th>Database</th>
                        <th>Length</th>
                        <th>Extended Length</th> 
                        <th>Query Start</th>
                        <th>Query End</th>
                        <th>Subject Start</th>
                        <th>Subject End</th>
                        <th>Position</th>
                    </thead>
                    <tbody>
                        {% for part in parts %}
                            <tr>
                                <td>{{ part.name }}</td>
                                <td>{{ part.database }}</td>
                                <td>{{ part.length }}</td>
                                <td>{{ part.length_extended }}</td>
                                <td>{{ part.query_start }}</td>
                                <td>{{ part.query_end }}</td>
                                <td>{{ part.subject_start }}</td>
                                <td>{{ part.subject_end }}</td>
                                <td>{{ part.position }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Plasmid Map</h2>
            <div class="text-center">
                <img src="{{ slic_solution.plasmid_map.url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>Parts List</h2>
            {% for part in parts %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{part.name}}
                            {% if part.database != 'NONE' %}
                                <span class="badge bg-info text-dark"">{{ part.database }}</span>
                            {% endif %}
                            <a href="{% url 'slic-part-detail' part.pk %}" class="btn btn-outline-primary float-end">
                                <i class="bi bi-eye"></i> View Part
                            </a>
                        </h4>
                        <p>
                            <span class="badge rounded-pill bg-secondary">
                                {{ part.length_extended }}nt Extended
                            </span>
                            <span class="badge rounded-pill bg-secondary">
                                {{ part.length }}nt Template
                            </span>
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Assembly Sequence:</strong> {{ part.seq_extended|slice:":25" }}<strong>...</strong>{{ part.seq_extended|slice:"-25:" }}
                            </li>
                            <li class="list-group-item">
                                <strong>Template Sequence:</strong> {{ part.seq|slice:":25" }}<strong>...</strong>{{ part.seq|slice:"-25:" }}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2 class="mb-4">
                Primers
                <a href="{{ slic_solution.primers_file.url }}" class="btn btn-outline-primary float-end"><i class="bi bi-download"></i> Download Primers</a>
            </h2>
            <p>
                Below is a summary table of the primers needed for each part of this assembly solution (shown above). Further details on each primer can be 
                viewed by clicking <em>View Primer</em> for each listed below this table.  
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <caption>
                        <u>hp Tm (C):</u> The melting temperature of the primer's hairpin (hp) structure. <br>
                        <u>hp &Delta;G:</u> The Gibbs free energy of the primer's hairpin (hp) structure. <br>
                        <u>hd Tm (C):</u> The melting temperature of the primer's homodimer (hd) structure. <br>
                        <u>hd &Delta;G:</u> The Gibbs free energy of the primer's homodimer (hd) structure. <br>
                    </caption>
                    <thead>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Tm (C)</th>
                        <th>GC%</th> 
                        <th>Hairpin</th>
                        <th>hp Tm (C)</th>
                        <th>hp &Delta;G</th>
                        <th>Homodimer</th>
                        <th>hd Tm (C)</th>
                        <th>hd &Delta;G</th>
                    </thead>
                    <tbody>
                        {% for primers in primer_sets %}
                            {% for primer in primers %}
                                <tr>
                                    <td>{{ primer.name }}</td>
                                    <td>{{ primer.primer_type }}</td>
                                    <td>{{ primer.tm_footprint|stringformat:".3f" }}</td>
                                    <td>{{ primer.gc }}</td>
                                    <td>{{ primer.hairpin }}</td>
                                    <td>{{ primer.hairpin_tm|stringformat:".3f" }}</td>
                                    <td>{{ primer.hairpin_dg|stringformat:".3f" }}</td>
                                    <td>{{ primer.homodimer}}</td>
                                    <td>{{ primer.homodimer_tm|stringformat:".3f" }}</td>
                                    <td>{{ primer.homodimer_dg|stringformat:".3f" }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <h2>Primers List</h2>
            {% for primers in primer_sets %}
                {% for primer in primers %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{primer.name}}
                                <a href="{% url 'slic-primer-detail' primer.pk %}" class="btn btn-outline-primary float-end">
                                    <i class="bi bi-eye"></i> View Primer
                                </a> 
                            </h4>
                            <p>
                                <span class="badge rounded-pill bg-secondary">
                                    {{ primer.primer_type }}
                                </span>
                                <span class="badge rounded-pill bg-primary">
                                    {{ primer.tm_footprint|stringformat:".3f" }}&deg;C
                                </span>
                                {% if primer.hairpin %}
                                    <span class="badge rounded-pill bg-warning text-dark">Hairpin</span>
                                {% endif %}
                                {% if primer.homodimer %}
                                    <span class="badge rounded-pill bg-warning text-dark">Homodimer</span>
                                {% endif %}
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>Sequence:</strong> {{primer.sequence}}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <a href="{{ slic_solution.parts_file.url }}" class="btn btn-outline-primary"><i class="bi bi-download"></i> Download Parts</a>
            <a href="{{ slic_solution.primers_file.url }}" class="btn btn-outline-primary"><i class="bi bi-download"></i> Download Primers</a> 
        </div>
    </div>

    {{ slic_solution.time_summary|json_script:"times" }}
    {{ slic_solution.cost_summary|json_script:"costs" }}
    {{ slic_solution.risk_summary|json_script:"risks" }}

    <script src="{% static 'proj_site/chart_config.js' %}"></script>
    <script src="{% static 'proj_site/slic_charts.js' %}"></script>
    <script src="{% static 'proj_site/slic_detail.js' %}"></script>
{% endblock content %}