body {
    background: whitesmoke;
  }

.bg-steel {
    background-color: #4f5d66;
}

.site-header .navbar-brand {
    color: #cbd5db;
}

.site-header .navbar-brand:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
  
.navbar-dark .navbar-text {
    color: #ffffff;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.highlight {
    background-color:paleturquoise;
}

/* .card {
    overflow: hidden;
}

.card-block {
    word-wrap: break-word;
} */