{% extends 'proj_site/base.html' %}
{% block content %}
    <h1>About</h1>
    <h2>Creators & Contributors</h2>
    <h3>Henri Thomas</h3>
    <div class="row mb-2">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">MASc student - Concordia University, B.S. Computer Science & Computer Engineering - University of Alaska Anchorage</li>
                <li class="list-group-item">Centre for Applied Synthetic Biology</li>
                <li class="list-group-item">Electrical & Computer Eng. Dept., Concordia University</li>
                <li class="list-group-item">
                    <a href="https://www.linkedin.com/in/henri-thomas-ab6212149" target="_blank" rel="noopener noreferrer">
                        linkedin.com/in/henri-thomas
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="mailto:henri.thomas@mail.concordia.ca" target="_blank" class="btn btn-outline-primary btn-sm">Email</a>
                </li>
            </ul>
        </div>
    </div>
    <h3>Nawwaf Kharma</h3>
    <div class="row mb-2">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ph.D - Imperial College, P.Eng - ON</li>
                <li class="list-group-item">Centre for Applied Synthetic Biology</li>
                <li class="list-group-item">Electrical & Computer Eng. Dept., Concordia University</li>
                <li class="list-group-item">
                    <a href="http://explore.concordia.ca/nawwaf-kharma" target="_blank" rel="noopener noreferrer">
                        http://explore.concordia.ca/nawwaf-kharma
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="mailto:kharma@ece.concordia.ca" target="_blank" class="btn btn-outline-primary btn-sm">Email</a>
                </li>
            </ul>
        </div>
    </div>
    <h2>Origins</h2>
    <div class="row mb-2">
        <div class="col">
            <p>...</p>
        </div>
    </div>
    <h2>Acknowledgements</h2>
    <div class="row mb-2">
        <div class="col">
            <p>...</p>
        </div>
    </div>
    <h2>References</h2>
    <div class="row mb-2">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Date</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Golden Gate Assembly</td>
                        <td>Engler et al</td>
                        <td>2008</td>
                        <td>
                            <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0003647" class="btn btn-outline-primary btn-sm"
                            target="_blank" rel="noopener noreferrer">
                                View
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>More coming...</td>
                        <td>---</td>
                        <td>---</td>
                        <td>
                            <!-- <a href="#" class="btn btn-outline-primary btn-sm"
                            target="_blank" rel="noopener noreferrer">
                                View
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock content %}
