{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <link rel="stylesheet" type="text/css" href="{% static 'proj_site/main.css' %}">
        
        <!-- Chartist -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        
        <!-- Britecharts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-selection/1.2.0/d3-selection.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/britecharts@2.10.0/dist/umd/bar.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/britecharts/dist/css/britecharts.min.css" type="text/css" />

        <!-- Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
        {% if title %}
            <title>Smithy - {{ title }}</title>
        {% else %}
            <title>Smithy</title>
        {% endif %}
    </head>
    <body>
        <div class="modal fade" id="assemblyModal" tabindex="-1" aria-labelledby="assemblyModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center mb-4">
                            <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem;">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div>
                            <p>
                                Please wait while your assembly solutions are generated...
                            </p>
                        </div> 
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-steel mb-2">
            <div class="container-fluid">
                <a class="navbar-brand mr-4" href="{% url 'site-home' %}">Smithy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'site-home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Assembly
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url 'assembly-home' %}">Make Assembly</a></li>
                          <li><a class="dropdown-item" href="{% url 'assembly-bundle' %}">Make Assembly Bundle</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'assemblies-list' %}">All Assemblies</a></li>
                          <li><a class="dropdown-item" href="{% url 'gibson-list' %}">Gibson Assemblies</a></li>
                          <li><a class="dropdown-item" href="{% url 'goldengate-list' %}">Golden Gate Assemblies</a></li>
                          <li><a class="dropdown-item" href="{% url 'pcr-list' %}">PCR Assemblies</a></li>
                          <li><a class="dropdown-item" href="{% url 'slic-list' %}">SLIC Assemblies</a></li>
                          <li><a class="dropdown-item" href="{% url 'biobricks-list' %}">BioBricks Assemblies</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'bundle-list' %}">Assembly Bundles</a></li>
                        </ul>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'site-about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'site-glossary' %}">Glossary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'site-survey' %}">Survey</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="row mb-5">
                <div class="col">

                    <div class="alert alert-warning" role="alert">
                        <p>
                            <strong>This site is still in DEVELOPMENT.</strong> Complete info, functionality, and features are continually being added and verified. 
                            In the meantime, enjoy!
                        </p>
                        <p>
                            Feedback is welcome and can be sent by email or survey.
                        </p> 
                        <a href="mailto:henri.thomas@mail.concordia.ca" target="_blank" class="btn btn-outline-primary">Email Us</a>
                        <a href="{% url 'site-survey' %}" target="_blank" class="btn btn-outline-primary">Survey</a>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <div class="card-body px-4">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Fasta File Input</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Your <strong>single-entry</strong> .fasta file should contain only the following...</p>
                    <p>
                        >name_of_sequence <br>
                        <em>DNA_sequence</em>
                    </p>
                    <br>
                    <p>Your <strong>multi-entry</strong> .fasta file should contain only the following...</p>
                    <p>
                        >name_of_sequence_1 <br>
                        <em>DNA_sequence_1</em> <br>
                        >name_of_sequence_2 <br>
                        <em>DNA_sequence_2</em> <br>
                        ... <br>
                        >name_of_sequence_N <br>
                        <em>DNA_sequence_N</em> <br>
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Got it!</button>
                </div>
              </div>
            </div>
        </div>

        <script src="{% static 'proj_site/main.js' %}"></script>
        <script src="{% static 'proj_site/charts.js' %}"></script>
    </body>
</html>